@import url('https://fonts.googleapis.com/css?family=Bangers|Carter+One|Fredericka+the+Great|Grand+Hotel|Rochester|Sacramento');
@import url('https://fonts.googleapis.com/css?family=Raleway');

/*
font-family: 'Sacramento', cursive;
font-family: 'Bangers', cursive;
font-family: 'Grand Hotel', cursive;
font-family: 'Carter One', cursive;
font-family: 'Rochester', cursive;
font-family: 'Fredericka the Great', cursive;
#E7C943
*/

:root {
    --main-color: #D0DA59; 
    --worker-color:#f1d13e;
    --requester-color:#DC5B39;
}

.title{
    font-family: 'Rochester', cursive;
}

.sign{
    padding: 0px;
    background-color: var(--main-color) !important;
    border-radius: 20px !important;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    height: 2px !important;
}

.sign_form{
    margin-left: 25%;
    margin-right: 25%;
}


.uk-section.section{
    height: 100vh;
    margin:0 auto;
}
.emoji{
    font-size: 60vh;
}


.uk-subnav>.uk-active>.requester{
    background-color: var(--requester-color) !important;
    color: antiquewhite;
}

.uk-subnav-pill>.uk-active>.worker{
    background-color: var(--worker-color) !important;
}

.uk-button-default.worker{
    background-color: var(--worker-color) !important;
    color: white;
}
.uk-button-default.requester{
    background-color: var(--requester-color) !important;
    color: antiquewhite;
}

.uk-section.worker{
    background-color: var(--worker-color) !important;
    color: white;
}
.uk-section.requester{
    background-color: var(--requester-color) !important;
    color: antiquewhite;
}

.card-container{
    padding: 3%;
}
.cards-container{
    padding: 3%;
    height: 80vh;
    overflow: scroll;
}


.uk-card.myCard{
    border-radius: 25px;
}
.uk-card.card-worker{
    background-color: var(--worker-color);
}
.uk-card.card-requester{
    background-color: var(--requester-color);
}
h1.card{
    font-family: 'Carter One', cursive;
    font-size: 300%;
}
h2.card{
    font-family: 'Raleway', sans-serif;
}



.scrollable-side{
    height: 80vh;
    position: fixed;
    overflow: scroll;
}