@import url('https://fonts.googleapis.com/css?family=Bangers|Carter+One|Fredericka+the+Great|Grand+Hotel|Rochester|Sacramento');

/*
font-family: 'Sacramento', cursive;
font-family: 'Bangers', cursive;
font-family: 'Grand Hotel', cursive;
font-family: 'Carter One', cursive;
font-family: 'Rochester', cursive;
font-family: 'Fredericka the Great', cursive;
*/

.title{
    font-family: 'Sacramento', cursive;
}