@import url('https://fonts.googleapis.com/css?family=Bangers|Carter+One|Fredericka+the+Great|Grand+Hotel|Rochester|Sacramento');

/*
font-family: 'Sacramento', cursive;
font-family: 'Bangers', cursive;
font-family: 'Grand Hotel', cursive;
font-family: 'Carter One', cursive;
font-family: 'Rochester', cursive;
font-family: 'Fredericka the Great', cursive;
*/

:root {
    --main-color: #D0DA59; 
}

.title{
    font-family: 'Rochester', cursive;
}

.sign{
    padding: 0px;
    background-color: var(--main-color) !important;
    border-radius: 50px !important;
    padding-top: 2% !important;
    padding-bottom: 2% !important;
    height: 2px !important;
}